/* RESET */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* VARIABLES */
/* TYPOGRAPHY */
@font-face {
  font-family: "Fraunces";
  src: url("../../assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}
@font-face {
  font-family: "Manrope";
  src: url("../../assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}
body {
  font-family: "Manrope";
  font-size: 16px;
  line-height: 32px;
  color: #24053E;
}

header a {
  color: white;
  text-decoration: none;
  font-variation-settings: "wght" 600;
}

h1 {
  font-family: Fraunces;
  color: white;
  text-align: center;
  font-size: 3.125rem;
  line-height: 3.125rem;
  font-variation-settings: "wght" 600, "opsz" 144;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #44FFA1;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

.hero a {
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  font-variation-settings: "wght" 700;
}

.benefits {
  text-align: center;
}

.benefit-number,
.benefit h2 {
  font-family: Fraunces;
  line-height: 2.25rem;
  font-variation-settings: "wght" 600, "opsz" 144;
}

.benefit-number {
  font-size: 1.25rem;
}

.benefit h2 {
  font-size: 1.75rem;
}

.benefit-description {
  line-height: 1.75rem;
}

.access-card {
  color: white;
  text-align: center;
}

h3 {
  font-family: Fraunces;
  font-size: 2rem;
  font-variation-settings: "wght" 600, "opsz" 144;
  line-height: 3rem;
}

.access-card a {
  text-decoration: none;
  font-variation-settings: "wght" 700;
}

/* LAYOUT */
header {
  background-color: #24053E;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  padding-top: 2rem;
}

header img {
  width: 27.64%;
}

header a {
  border-bottom: 3px solid #44FFA1;
}

.hero {
  padding-top: 4rem;
  position: relative;
  padding-bottom: 4rem;
  margin-bottom: -25px;
}

.hero::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #24053E;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 25px;
  border-radius: 0 0 50% 50%;
  background-color: #24053E;
}

h1 {
  width: 85%;
  margin: 0 auto;
}

.hero a {
  display: block;
  margin: 0 auto;
  padding: 0.6875rem 0;
  background-color: #44FFA1;
  width: 35.47%;
  margin-top: 2.5rem;
  margin-bottom: 5.3rem;
}

.hero img {
  width: 85.33%;
  position: absolute;
  top: 79%;
  z-index: 2;
  left: 52%;
  transform: translateX(-50%);
}

.benefits {
  padding-top: 9.3rem;
  background-color: #FCF8FF;
  padding-bottom: 5rem;
}

.benefit {
  margin-top: 2.4rem;
}

.benefit-number {
  margin: 0 auto;
  width: 3rem;
  height: 3rem;
  border: 1px solid #24053E;
  border-radius: 50%;
  padding-top: 0.3rem;
}

.benefit h2 {
  margin-top: 1.5rem;
}

.benefit-description {
  margin: 0 1rem;
  margin-top: 1rem;
}

.access img {
  display: block;
  width: 74.94%;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

.access-card {
  background-color: #24053E;
  margin: 0 1rem;
  margin-top: -3.25rem;
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.access-card p {
  margin-top: 1rem;
  padding: 0 1.9rem;
}

.access-card a {
  display: block;
  background-color: #44FFA1;
  margin: 1.5rem auto;
  padding: 0.6875rem 0;
  width: 50.15%;
}

footer {
  margin-top: 4.625rem;
  margin-bottom: 4rem;
}

footer img {
  display: block;
  margin: 0 auto;
  width: 25.55%;
}

.social-media {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 3.6rem;
}

.social-logo {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #584D62;
}

.facebook-logo {
  -webkit-mask: url("../../assets/images/icon-facebook.svg");
          mask: url("../../assets/images/icon-facebook.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.instagram-logo {
  -webkit-mask: url("../../assets/images/icon-instagram.svg");
          mask: url("../../assets/images/icon-instagram.svg");
}

.twitter-logo {
  -webkit-mask: url("../../assets/images/icon-twitter.svg");
          mask: url("../../assets/images/icon-twitter.svg");
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}/*# sourceMappingURL=styles.css.map */