/* RESET */

@import 'reset';

/* VARIABLES */

$dark-purple: #24053E;
$green: #44FFA1;
$purple: #584D62;
$light-purple: #FCF8FF;

/* TYPOGRAPHY */

@font-face {
    font-family: 'Fraunces';
    src: url('../../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
}

@font-face {
    font-family: 'Manrope';
    src: url('../../assets/fonts/manrope/Manrope-VariableFont_wght.ttf');
}

body {
    font-family: 'Manrope';
    font-size: 16px;
    line-height: 32px;
    color: $dark-purple;
}

header a {
    color: white;
    text-decoration: none;
    font-variation-settings: "wght" 600;
}

h1 {
    font-family: Fraunces;
    color: white;
    text-align: center;
    font-size: 3.125rem;
    line-height: 3.125rem;
    font-variation-settings: "wght" 600, "opsz" 144;
}

.underline {
    text-decoration: underline;
    text-decoration-color: $green;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}

.hero a {
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    font-variation-settings: "wght" 700;
}

.benefits {
    text-align: center;
}

.benefit-number,
.benefit h2 {
    font-family: Fraunces;
    line-height: 2.25rem;
    font-variation-settings: "wght" 600, "opsz" 144;
}

.benefit-number {
    font-size: 1.25rem;
    text-align: center;
}

.benefit h2 {
    font-size: 1.75rem;
}

.benefit-description {
    line-height: 1.75rem;
}

.access-card {
    color: white;
    text-align: center;
}

h3 {
    font-family: Fraunces;
    font-size: 2rem;
    font-variation-settings: "wght" 600, "opsz" 144;;
    line-height: 3rem;
}

.access-card a {
    text-decoration: none;
    font-variation-settings: "wght" 700;
}

.access-card p {
    line-height: 1.75rem;
}

/* LAYOUT */

header {
    background-color: $dark-purple;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    padding-top: 2rem;
}

header img {
    width: 27.64%;
}

header a {
    border-bottom: 3px solid $green;
}

main {
    overflow: hidden;
}

.hero {
    padding-top: 4rem;
    position: relative;
    padding-bottom: 4rem;
    margin-bottom: -25px;
}

.hero::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-purple;
}

.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 25px;
    border-radius: 0 0 50% 50%;
    background-color: $dark-purple;
}

h1 {
    width: 85%;
    margin: 0 auto;
}

.hero a {
    display: block;
    margin: 0 auto;
    padding: 0.6875rem 0;
    background-color: $green;
    width: 35.47%;
    margin-top: 2.5rem;
    margin-bottom: 5.3rem;
}

.hero img {
    width: 85.33%;
    position: absolute;
    top: 79%;
    z-index: 2;
    left: 52%;
    transform: translateX(-50%);
}

.benefits {
    padding-top: 9.3rem; 
    padding-bottom: 4.6rem;
    margin-bottom: 6rem;
    position: relative;
    z-index: -1;
}

.benefits::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $light-purple;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    transform: scaleX(6);
    z-index: -2;
}

.benefit {
    margin-top: 2.4rem;
}

.benefit-number {
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
    border: 1px solid $dark-purple;
    border-radius: 50%;
    padding-top: 0.3rem;
}

.benefit h2 {
    margin-top: 1.5rem;
}

.benefit-description {
    margin: 0 1rem;
    margin-top: 1rem;
}

.access img {
    display: block;
    width: 74.94%;
    margin: 0 auto;
    position: relative;
    z-index: -1;
}

.access-card {
    background-color: $dark-purple;
    margin: 0 1rem;
    margin-top: -3.25rem;
    z-index: 1;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.access-card p {
    margin-top: 1rem;
    padding: 0 1.9rem;
}

.access-card a {
    display: block;
    background-color: $green;
    margin: 1.5rem auto;
    margin-bottom: 1.05rem;
    padding: 0.6875rem 0;
    width: 50.15%;
}

footer {
    margin-top: 4.625rem;
    margin-bottom: 4rem;
}

footer img {
    display: block;
    margin: 0 auto;
    width: 25.55%;
}

.social-media {
    width: 31%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3.6rem;
}

.social-logo {
    width: 1.25rem;
    height: 1.25rem;
    background-color: $purple;
}

.facebook-logo {
    mask: url("../../assets/images/icon-facebook.svg");
    mask-repeat: no-repeat;
}

.instagram-logo {
    mask: url("../../assets/images/icon-instagram.svg");
}

.twitter-logo {
    mask: url("../../assets/images/icon-twitter.svg");
    mask-position: center;
    mask-repeat: no-repeat;
}


/* TABLET LAYOUT */

@media (min-width: 600px) {
    
    header {
        padding: 0 2.5rem;
        padding-top: 2rem;
    }

    header img {
        width: 13.92%;
    }

    .hero {
        padding-top: 3.5rem;
        padding-bottom: 7.4rem;
        margin-bottom: -125px;
    }

    h1 {
        font-size: 3.75rem;
        line-height: 3.75rem;
        width: 60%;
    }

    .hero a {
        width: 18%;
    }

    .hero::before {
        background-image:   url("../../assets/images/bg-pattern-2.svg"),
                            url("../../assets/images/bg-pattern-3.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: 116% 63%, -44% 5%;
        background-size: auto, 42%;
    }

    .hero::after {
        height: 125px;
        border-radius: 0 0 90% 90%;
        transform: scaleX(1.1);
    }

    .hero img {
        width: 68%;
        top: 68%;
        left: 53%;
        // z-index: 2;
        // transform: translateX(-50%);
    }

    .benefits {
        padding-top: 17.5rem; 
    }

    .benefits::before {
        border-radius: 0 0 80% 80% / 0 0 100% 100%;
        transform: scaleX(3);
        top: 4%;
        // content: "";
        // position: absolute;
        // left: 0;
        // width: 100%;
        // height: 100%;
        // background-color: $light-purple;
        // z-index: -2;
    }

    .benefit {
        width: 74.61%;
        margin: 0 auto;
        margin-top: 3rem;
        display: flex;
        align-items: center;
        text-align: left;
    }

    .benefit-number {
        min-width: 3rem;
        height: 3rem;
        text-align: center;
        padding-top: 0;
    }

    p.benefit-number {
        margin-top: 0.4rem !important;
    }

    p.first-number{
        margin-top: 2rem !important;
    }

    .benefit div {
        margin-left: 2rem;
    }

    .benefit h2 {
        margin-top: 0rem;
    }

    .benefit p {
        margin: 0;
        margin-top: 1rem
    }

    .benefit-description {
        width: 97%;
    }

    .access {
        position: relative;
        padding-top: 14.8rem;
    }

    .access::before {
        content: "";
        // background-color: rgba($color: #000000, $alpha: 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 20%;
        left: 0;
        background-image:   url("../../assets/images/bg-pattern-3.svg");
        background-repeat: no-repeat;
        background-position: 90% 99%;
        background-size: auto;
    }

    .access img {
        width: 36.59%;
        position: absolute;
        top: 5.7%;
        left: 5%;
    }

    .access-card {
        width: 66.93%;
        margin-left: auto;
        margin-right: 2.5rem;
        text-align: left;
        padding-left: 3.53rem;
        padding-top: 3.4rem;
        padding-bottom: 3.5rem;
    }

    .access-card h3 {
        font-size: 3rem;
    }

    .access p {
        padding: 0;
        width: 88%;
        margin-top: 1.5rem;
    }
    
    .access-card a {
        margin: 0;
        margin-top: 1.5rem;
        text-align: center;
        width: 37.7%;
    }

    footer {
        margin-top: 5rem;
        margin-bottom: 7.61rem;
    }

    footer img {
        width: 12.47%;
    }

    .social-media {
        width: 15.1%;
    }  

}

/* DESKTOP LAYOUT */

@media (min-width: 1000px) {

    header {
        padding-left: 10.3125rem;
        padding-right: 10.3125rem;
        padding-top: 3.5rem;
    }

    header img {
        width: 8.631%;
    }

    header a {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 5rem;
        line-height: 5rem;
        width: 40%;
        letter-spacing: 0.15rem;
    }

    .underline {
        text-underline-offset: 10px;
    }

    .hero {
        background: none;
        z-index: 2;
        padding-bottom: 15rem;
    }

    .hero::before {
        background-color: transparent;
        z-index: 1;
    }
    
    .hero::after {
        height: 100%;
        border-radius: 0 0 80% 80%;
        transform: scaleX(1.5);
        z-index: -1;
    }

    .hero a {
        width: 11.19%;
        padding: 0.8rem 0;
    }

    .hero img {
        width: 53%;
        top: 56.5%;
        left: 51.6%
    }

    .hero::before {
        background-position: 104% 48%, -12% 5%;
        background-size: auto, 24%;
    }

    .benefits {
        display: flex;
        justify-content: center;
        padding-top: 24rem;
        padding-bottom: 8rem;
        margin-bottom: 8.7rem;
    }

    .benefit {
        display: block;
        text-align: center;
        width: 26.5%;
        padding: 0;
        margin: 0;
    }

    p.benefit-number {
        margin: 0 auto !important;
        font-size: 1.9rem;
    }

    .benefit div {
        margin: 0;
    }

    .benefit h2 {
        margin-top: 3.9rem;
        font-size: 2rem;
    }

    .benefit div p {
        margin: 0 auto;
        margin-top: 2rem;
        font-size: 1.125rem;
        line-height: 2rem;
        width: 96%;
    }

    .benefits::before {
        transform: scaleX(2);
    }

    .access::before {
    //     content: "";
    //     // background-color: rgba($color: #000000, $alpha: 0.5);
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
        top: 10.6%;
        left: -8%;
        z-index: 2;
    //     background-image:   url("../../assets/images/bg-pattern-3.svg");
    //     background-repeat: no-repeat;
    //     background-position: 90% 99%;
    //     background-size: auto;
    }

    .access img {
        width: 33.5%;
        //     position: absolute;
        top: 2%;
        left: 11.5%;
    }

    .access-card {
        width: 50.7%;
        // margin-top: -0.5rem;
        //     margin-left: auto;
        margin-right: 10.4rem;
        //     text-align: left;
        padding-left: 4rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-bottom: 4rem;
    }

    .access-card h3 {
        font-size: 3.5rem;
        line-height: 4rem;
        letter-spacing: 0.23rem;
    }

    .access p {
    //     padding: 0;
        width: 90%;
        margin-top: 2rem;
        font-size: 1.125rem;
        line-height: 2rem;
    }
    
    .access-card a {
    //     margin: 0;
        margin-top: 2rem;
    //     text-align: center;
        width: 28.5%;
        font-size: 1.125rem;
        padding-top: 1rem;
    }

    footer {
        width: 54%;
        margin: 0 auto;
        margin-top: 3.5rem;
        //     margin-bottom: 7.61rem;
    }

    footer img {
        width: 13%;
    }

    .social-media {
    //     width: 15.1%;
    } 
}
